<div class="mb-6">
    <h2 class="text-xl font-semibold mb-4">Récapitulatif des informations</h2>
</div>

<div class="mb-6">
    <label class="text-sm font-medium text-gray-700 inline-block w-24">Civilité:</label>
    <span class="inline-block">{{ client.civilite }}</span>
</div>

<div class="mb-6">
    <label class="text-sm font-medium text-gray-700 inline-block w-24">Nom:</label>
    <span class="inline-block">{{ client.nom }}</span>
</div>

<div class="mb-6">
    <label class="text-sm font-medium text-gray-700 inline-block w-24">Prénom:</label>
    <span class="inline-block">{{ client.prenom }}</span>
</div>

<div class="mb-6">
    <label class="text-sm font-medium text-gray-700 inline-block w-24">Adresse:</label>
    <span class="inline-block">{{ client.adresse }}</span>
</div>

<div class="mb-6">
    <label class="text-sm font-medium text-gray-700 inline-block w-24">Code Postal:</label>
    <span class="inline-block">{{ client.codePostal }}</span>
</div>

<div class="mb-6">
    <label class="text-sm font-medium text-gray-700 inline-block w-24">Ville:</label>
    <span class="inline-block">{{ client.ville }}</span>
</div>

<div class="mb-6">
    <label class="text-sm font-medium text-gray-700 inline-block w-24">Pays:</label>
    <span class="inline-block">{{ client.pays }}</span>
</div>

<div class="mb-6">
    <label class="text-sm font-medium text-gray-700 inline-block w-24">Téléphone:</label>
    <span class="inline-block">{{ client.tel }}</span>
</div>

<div class="mb-6">
    <label class="text-sm font-medium text-gray-700 inline-block w-24">Email:</label>
    <span class="inline-block">{{ client.email }}</span>
</div>

<div class="mb-6">
    <label class="text-sm font-medium text-gray-700 inline-block w-24">Mot de passe:</label>
    <span class="inline-block">{{ client.password }}</span>
</div>

<div class="mb-6">
    <label class="text-sm font-medium text-gray-700 inline-block w-24">Confirmation du mot de passe:</label>
    <span class="inline-block">{{ client.confirmation }}</span>
</div>